////
/// Configuration
/// @author Nicemondays
/// @since version 0.1
////


/// Se usa como valor inicial en el body y para el cálculo de las unidades rem
/// @see {function} rem
/// @see {function} rem-space
$base-font-size:    16px!default;

/// Se usa para el calculo del line-height armonizado en el mixin font-size
/// @see {mixin} font-size
$base-line-height:  24px!default;

/// Default font-weight value
$base-font-weight: 	400!default;

/// Default round corner value
$base-round:        4px!default;

/// Variable maestra a través de la cual serán todos los calculos de espacio en el framework
/// Por defecto esta variable tiene el mismo valor que $base-line-height
/// @see {function} rem-space
/// @see {function} space
$base-spacing-unit: $base-line-height !default;

/// En este mapa definimos las rutas que se usarán para los assets
/// El primer item del mapa define la ruta base de todos los assets
$paths: (
	base: '../assets',
	fonts: 'fonts',
	images: 'images'
)!default;

/// En esta variable se define el esquema de color del proyecto. Colores base y tonos de color.
/// Para acceder a estas variables se debe usar la función **getcolor**
/// Si los helpers están activos se generarán estilos para el color de texto y para el color de fondo
/// con la siguiente forma **.color--<color><tono>** **.bgcolor--<color><tono>
/// @see {function} getcolor
$colors: (
	brand: red,
	alt: blue,
	bgcolor: white,
	light: white,
	text: (
		base: #333,
		dark: black,
		light: #666
	),
	ui: (
		base: #ccc,
		dark: #666,
		light: #DDD
	) 
)!default;

/// En esta variable debe guardarse todas las fuentes que se usarán en el proyecto.
/// Para acceder a estas variables se debe usar la función **getface**
/// @see {function} getface
$faces: (
	brand: sans-serif,
	alt: serif
)!default;


/// En esta variable guardamos todos los tamaños de texto maestros del site.
/// Esto generará los estilos .fontsize--<name>
$sizes: (
	title: 24px,
	bodycopy: 14px
)!default;


/// Base grid settings
$grid-settings: (
	columns: 12,
	gutter: 30px
)!default;

/// Esta mapa guarda la configuración que se usara para generar los space helpers. 
/// Este mapa generará una clase combinando los datos definidos
/// @example .mb--normal { @include rem-space(margin-bottom, 1); }
$space: (
	mb: (
		prop: margin-bottom,
		alias: (zero, normal, double, triple, quad),
		values: (0, 1, 2, 3, 4)
	),
	p: (
		prop: padding,
		alias: (zero, normal, double, triple, quad),
		values: (0, 1, 2, 3, 4)
	)
)!default;


/// En este mapa se guarda toda la confiración necesaria para pintar el loader css
$loader: (
	iscenter: true,
	dotsize: 15px,
	dotcolor: #000,
	animation-duration: 1.2s,
	animation-move: 25px
)!default;


/// Estas variables definen si se incluirán en el framework estas clases. 

/// Define si se incluiran los helpers al exportar
$use-helpers: 		true !default;
/// Define si se incluiran los formulario al exportar
$use-forms: 		true !default;
/// Define si se incluiran los botones al exportar
$use-buttons: 		true !default;
/// Define si se incluiran las listas al exportar
$use-lists: 		true !default;
/// Define si se incluira el loader css
$use-loader: 		true !default;
/// Define si se incluira el objeto dropmenu
$use-dropmenu: 		true !default;
/// Define si se incluira el objeto stackmenu
$use-stackmenu:		true !default;
/// Define si se incluira el objeto tabdata
$use-tabdata:		true !default;
