/* 
------------------------------------------------
BASE
------------------------------------------------
*/

$base-font-size:    16px!default;
$base-line-height:  24px!default;

$base-font-weight: 	400!default;
$base-round:        4px!default;

$base-spacing-unit: $base-line-height !default;
$line-height-ratio: $base-line-height / $base-font-size !default;


/* 
------------------------------------------------
COLORS
------------------------------------------------
*/

$colors: (
	brand: red,
	alt: blue,
	bgcolor: white,
	light: white,
	text: (
		base: #333,
		dark: black,
		light: #666
	),
	ui: (
		base: #ccc,
		dark: #666,
		light: #DDD
	) 
)!default;

/* 
------------------------------------------------
FACES
------------------------------------------------
*/

$faces: (
	brand: sans-serif,
	alt: serif
)!default;



/* 
------------------------------------------------
BREAKPOINT
------------------------------------------------
*/

$breakpoint-default-feature:    max-width !default;
$breakpoint-to-ems:             true !default;


$breakpoints: (
	mobile: 480px,
	tablet: 800px
)!default;


/* 
------------------------------------------------
TEXTS
------------------------------------------------
*/


$text: (
	pagetitle: (
		size: 48px,
		lineheight: 1.5,
		color: getcolor(brand),
		family: getface(brand),
		weight: 700
	),
	sectiontitle: (
		size: 36px,
		color: getcolor(brand),
		lineheight: 1.4,
		family: getface(brand),
		weight: 500
	),
	moduletitle: (
		size: 22px,
		lineheight: 1.3,
		color: getcolor(alt),
		family: getface(brand),
		weight: 500
	),
	bodycopy: (
		size: $base-font-size,
		lineheight: 1.3,
		color: getcolor(text, base),
		family: getface(brand),
		weight: 400
	)
)!default;



/* 
------------------------------------------------
GRID
------------------------------------------------
*/

$gutter:            30px!default;



/* 
------------------------------------------------
SPACE
------------------------------------------------
*/


$space: (
	mb: (
		prop: margin-bottom,
		alias: (zero, normal, double, triple, quad),
		values: (0, 1, 2, 3, 4),
		responsive: (mobile, tablet)
	),
	p: (
		prop: padding,
		alias: (zero, normal, double, triple, quad),
		values: (0, 1, 2, 3, 4),
		responsive: (mobile, tablet)
	)
)!default;


/* 
------------------------------------------------
LOADER VARS
------------------------------------------------
*/

$loader: (
	iscenter: true,
	dotsize: 15px,
	dotcolor: #000,
	animation-duration: 1.2s,
	animation-move: 25px
)!default;


/* 
------------------------------------------------
FRAMEWORK SETTINGS
------------------------------------------------
*/

$use-helpers: 		true !default;
$use-forms: 		true !default;
$use-buttons: 		true !default;
$use-lists: 		true !default;
$use-texts: 		true !default;
$use-loader: 		true !default;
$use-dropmenu: 		true !default;
