
/// ------------------------------------------------
/// FLAG (@csswizardry)
/// ------------------------------------------------


.flag {
    display: table;
    width: 100%;
}

    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;

        .flag--top & {
            vertical-align: top;
        }

        .flag--bottom & {
            vertical-align: bottom;
        }

    }

    .flag__image {
        @include rem-space(padding-right, 1);

        > img {
            display: block;
            max-width: none;
        }

        .flag--rev & {
            padding-right: 0;
            @include rem-space(padding-left, 1);
        }

    }

    .flag__body {
        width: 100%;
    }