
/// ------------------------------------------------
/// GRIDS
///------------------------------------------------

@function fill-span($span) {
  $result: ();
  @if type-of($span) == list and length($span) == 3 {
    $result: $span;
  } @else {
    $result: append($result, $span);
    $result: append($result, of);
    $result: append($result, map-get($grid-settings, columns));
  }
  @return $result;
  
}
@mixin grid {
  $gutter: map-get($grid-settings, gutter);
  @include clearfix;
  margin: 0;
  padding: 0;
  margin-left: -#{$gutter};
  & > * {
    float: left;
    width: 100%;
    margin-left: $gutter;
  }
}

@mixin cell($span) {
  $span: fill-span($span);
  $total-columns: nth($span, 3);
  $size: nth($span, 1);
  $width: (100 / ($total-columns / $size)) * 1%;
  $gutter: map-get($grid-settings, gutter);
  width: calc(#{$width} - #{$gutter});
}

@mixin push-cell($span) {
  $span: fill-span($span);
  $total-columns: nth($span, 3);
  $size: nth($span, 1);
  position: relative;
  left: (100 / ($total-columns / $size)) * 1%;
}
@mixin pull-cell($span) {
  $span: fill-span($span);
  $total-columns: nth($span, 3);
  $size: nth($span, 1);
  position: relative;
  left: (100 / ($total-columns / $size)) * -1%;
}

