/// ------------------------------------------------
/// LOADER
/// ------------------------------------------------

@if $use-loader {
	@include keyframes(loader-animation-left) {
		0%,50%,60% { transform: translateX(0); }
		25% { transform: translateX(-(map-get($loader, animation-move))); }
		55% { transform: translateX(-3px);}

	}
	@include keyframes(loader-animation-right) {
		5% { transform: translateX(3px);}
		10%, 50%,100% { transform: translateX(0); }
		75% { transform: translateX(map-get($loader, animation-move)); }
	}
	.niceloader {
		@if map-get($loader, iscenter) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
			transform: translateY(-50%);
		}

		&:before,
		&:after {
			content:'';
			display: inline-block;
			width: map-get($loader, dotsize);
			height: map-get($loader, dotsize);
			border-radius: 50%;
			background-color: map-get($loader, dotcolor);
			animation: map-get($loader, animation-duration) infinite ease-in;
		}
		&:before {
			animation-name: loader-animation-left;
		}
		&:after {
			animation-name: loader-animation-right;
		}
	}
}