/* 
------------------------------------------------
MEDIA (@stubbornella)
------------------------------------------------
*/

.media { 
	@include clearfix;
	&__body {
		overflow: hidden;
	}
	&__image {
		float: left;
		@include rem-space(margin-right, 1);
		img {
			display: block;
		}
		.media--right & {
			float: right;
			@include rem-space(margin-left, 1);
			margin-right: 0;
		}
		.media--wide & {
			@include rem-space(margin-right, 3);
		}
		.media--wide.media--right & {
			@include rem-space(margin-left, 3);
		}
	}
}