/* ====== media ====== */
.media { 
	$media-margin: 10px;
	//margin:10px; 
	.media__body {
		overflow: hidden;
	}
	.media__image {
		float: left;
		margin-right: $media-margin;
		img {
			display: block;
		}
		.media--right & {
			float: right;
			margin-left: $media-margin;
		}
	}
}