.tabdata {
	.tabdata__group {
		display: block;
		@include rem-space(margin-bottom, .5);
	}
		.tabdata__group__name {
			display: inline-block;
			vertical-align: middle;
			width: 10em;
			@include rem-space(margin-right, 1);
		}
		.tabdata__group__value {
			display: inline-block;
			vertical-align: middle;
		}
}