/// ------------------------------------------------
/// TABDATA
/// ------------------------------------------------

@if $use-tabdata {
	.tabdata {
		&__group {
			display: block;
			@include rem-space(margin-bottom, .5);
			&__name {
				display: inline-block;
				vertical-align: middle;
				width: 10em;
				@include rem-space(margin-right, 1);
			}
			&__value {
				display: inline-block;
				vertical-align: middle;
			}
		}	
	}
}