/* 
------------------------------------------------
EFFECTS UTILITIES
------------------------------------------------
*/

// Use: @include transition(color .3s ease);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin effect($time) {
  @include transition(all $time ease-in-out);
}

/* Example:
* @include keyframes(slide-down) {
*  0% { opacity: 1; }
*  90% { opacity: 0; }
* }

* .element {
*   @include animation('slide-down 5s 3');
* }
*/

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
  @include vendor(animation-fill-mode, both);    
}

@mixin rotate($value) {
  @include vendor(transform, rotate($value));
}
@mixin rotate3d($value) {
  @include vendor(transform, rotate3d($value));
}
@mixin scale($value) {
  @include vendor(transform, scale($value));
}
@mixin scaleX($value) {
  @include vendor(transform, scaleX($value));
}
@mixin scaleY($value) {
  @include vendor(transform, scaleY($value));
}
@mixin scale3d($value) {
  @include vendor(transform, scale3d($value));
}
@mixin translate($value) {
  @include vendor(transform, translate($value));
}
@mixin translate3d($value) {
  @include vendor(transform, translate3d($value));
}
@mixin translateX($value) {
  @include vendor(transform, translateX($value));
}
@mixin translateY($value) {
  @include vendor(transform, translateY($value));
}
@mixin translateZ($value) {
  @include vendor(transform, translateZ($value));
}
@mixin perspective($value) {
  @include vendor(transform, perspective($value));
}