////
/// Buttons
/// @group buttons
/// @author Nicemondays
/// @since version 0.1
////

@if $use-buttons {

	/// Base button class
	/// Reset appareance, border, select and decoration
	/// Add default transition for all proporties
	.btn {
		cursor: pointer;
		-webkit-appearance: none;
		outline: none;
		box-shadow: none;
		border: 0;
		display: inline-block;
		line-height: normal;
		vertical-align: baseline;
		cursor: pointer;
		user-select: none;
		text-decoration: none;
		font-family: getface(brand);
		font-weight: $base-font-weight;
		transition: all 0.3s ease;
	}
	
}