/* 
------------------------------------------------
BUTTONS
------------------------------------------------
*/

@if $use-buttons {

	// BASE BUTTON  --------------------------------
	.button {
		cursor: pointer;
		-webkit-appearance: none;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 0;
		display: inline-block;
		line-height: normal;
		vertical-align: baseline;
		cursor: pointer;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-decoration: none;
		font-family: getface(brand);
		font-weight: $base-font-weight;
		@include transition(all .3s ease);
		&--rounded {
			@include rem-space(padding, .5 1);
			color: getcolor(text, base);
			background-color: getcolor(ui, base);
			border-radius: $base-round;
			@include on-event{
				background-color: getcolor(ui, dark);
			}	
		}
		&--brandtext {
			color: getcolor(brand);
			@include on-event {
				text-decoration: underline;
			}
		}
		&--brandbg {
			background-color: getcolor(brand);
			@include rem-space(padding, .5 1);
			@include on-event {
				background-color: getcolor(ui, base);
			}
		}
		&--underline {
			@include on-event {
				text-decoration: underline;
			}
		}
	}
	
}