/* 
------------------------------------------------
HEADINGS
------------------------------------------------
*/

@if $use-texts {
    @each $name, $value in $text {
        .#{$name} {
            @include font-size(map-get($value, size), false);
            line-height: map-get($value, lineheight);
            color: map-get($value, color);
            font-family: map-get($value, family);
            font-weight: map-get($value, weight);
        }
    }
}
