/* 
------------------------------------------------
HELPERS
------------------------------------------------
*/

@if $use-helpers {

	// FLOATS   ------------------------------------

	.float--right   { float:right!important; }
	.float--left    { float:left !important; }
	.float--none    { float:none !important; }


	// TEXT ALIGNMENT   ----------------------------
	 
	.text--left     { text-align:left  !important; }
	.text--center   { text-align:center!important; }
	.text--right    { text-align:right !important; }


	// TEXT TRANSFORM   -----------------------------
	.text--upper 	{ text-transform: uppercase !important;}


	// FONT WEIGHT   --------------------------------
	.weight--light      	{ font-weight:300!important; }
	.weight--normal     	{ font-weight:400!important; }
	.weight--semibold   	{ font-weight:600!important; }
	.weight--bold   		{ font-weight:700!important; }


	// FONT STYLED   --------------------------------
	.text--unitalic 	{ font-style: normal!important; }
	.decor--none 	    { text-decoration: none!important; }


	// POSITIONS     --------------------------------
	.relative       { position: relative!important; }
	.absolute       { position: absolute!important; }
	.fixed          { position: fixed!important; }


	// VERTICAL POSITIONS     ------------------------
	.middle     { vertical-align: middle!important; }
	.bottom     { vertical-align: bottom!important; }
	.top        { vertical-align: top!important; }
	.super      { vertical-align: super!important; }


	// DISPLAY FORCE     ---------------------------------
	.inline-block   { display: inline-block!important; }
	.block          { display: block!important; }


	// VISIBILITY     -------------------------------------
	.invisible      { visibility: hidden!important; }
	.transparent  	{ @include opacity(0); }
	.mask           { overflow: hidden; }
	.hide           { display: none; }


	// MARGIN AND PADDINGS     -----------------------------
	@each $name, $data in $space {
		$cont: 1;
		@each $alias in map-get($data, alias) {
			.#{$name}--#{$alias} {
				@include rem-space(map-get($data, prop), nth(map-get($data, values), $cont));
			}
			$responsive: map-get($data, responsive);
			@each $break in $responsive {
				@include respond-to(#{$break}) {
					.#{$break}-#{$name}--#{$alias} {
						@include rem-space(map-get($data, prop), nth(map-get($data, values), $cont), true);
					}	
				}
			}
			$cont: $cont + 1;
		}
	}

	// COLORS -----------------------------------------------
	@each $name, $value in $colors {
		@if type-of($value) == map {
			@each $nametone, $valuetone in $value {
				.color--#{$name}#{$nametone} {
					color: $valuetone;
				}
				.bgcolor--#{$name}#{$nametone} {
					background-color: $valuetone;
				}
			}
		} @else {
			.color--#{$name} {
				color: $value;
			}
			.bgcolor--#{$name} {
				background-color: $value;
			}
		}
	}

	// FACES -----------------------------------------------
	@each $name, $value in $faces {
		.font--#{$name} {
			font: $value;
		}
	}

	// SIZES -----------------------------------------------
	@each $name, $value in $sizes {
		.textsize--#{$name} {
			@include font-size($value, false);
		}
	}

	// CLEARFIX     ---------------------------------------
	.clearfix {
		@include clearfix;
	}

	// RESPONSIVE VISIBLE CLASS    -----------------------------

	@each $name, $value in $breakpoints {
		@include respond-to($name) {
			.visible--#{$name} {
				display: block;
			}
			.hide--#{$name} {
				display: none;
			}
		}
	}

}
