/*------------------------------------*\
    $HELPER
\*------------------------------------*/

/**
 * Add/remove floats
 */
.float--right   { float:right!important; }
.float--left    { float:left !important; }
.float--none    { float:none !important; }


/**
 * Text alignment
 */ 
 
.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }

/**
 * Text transform
 */ 
.text--upper 	{ text-transform: uppercase !important;}

/**
 * Font weights
 */

%weight--light, .weight--light      	{ font-weight:300!important; }
%weight--normal, .weight--normal     	{ font-weight:400!important; }
%weight--semibold, .weight--semibold   	{ font-weight:600!important; }
%weight--bold, .weight--bold   			{ font-weight:700!important; }

/**
* Font styled
*/
.text--unitalic 	{ font-style: normal!important; }

/**
* Font styled
*/
.decor--none 	{ text-decoration: none!important; }

/**
* Positions
*/
.relative       { position: relative!important; }
.absolute       { position: absolute!important; }
.fixed          { position: fixed!important; }

/**
* Vertical positions
*/
.middle     { vertical-align: middle!important; }
.bottom     { vertical-align: bottom!important; }
.top        { vertical-align: top!important; }
.super      { vertical-align: super!important; }

/**
* Display force
*/

.inline-block   { display: inline-block!important; }
.block          { display: block!important; }

/**
* Visibility
*/

%invisible, .invisible      { visibility: hidden!important; }
%transparent, .transparent  { @include opacity(0); }
%mask, .mask           		{ overflow: hidden; }
%hide, .hide           		{ display: none; }

/**
* Clearfix
*/

%clearfix,
.clearfix {
	&:after{
	  content: "";
	  display: table;
	  clear: both
	}
}

/**
 * Add/remove margins
 */
%push, .push           			{ margin:       $base-spacing-unit!important; }
%push--top, .push--top      	{ margin-top:   $base-spacing-unit!important; }
%push--right, .push--right    	{ margin-right: $base-spacing-unit!important; }
%push--bottom, .push--bottom   	{ margin-bottom:$base-spacing-unit!important; }
%push--left, .push--left     	{ margin-left:  $base-spacing-unit!important; }
%push--ends, .push--ends     	{ margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
%push--sides, .push--sides    	{ margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

%push-half, .push-half          		{ margin:       $half-spacing-unit!important; }
%push-half--top, .push-half--top     	{ margin-top:   $half-spacing-unit!important; }
%push-half--right, .push-half--right   	{ margin-right: $half-spacing-unit!important; }
%push-half--bottom, .push-half--bottom  { margin-bottom:$half-spacing-unit!important; }
%push-half--left, .push-half--left    	{ margin-left:  $half-spacing-unit!important; }
%push-half--ends, .push-half--ends    	{ margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
%push-half--sides, .push-half--sides   	{ margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }


%push-double, .push-double          		{ margin:       $double-spacing-unit!important; }
%push-double--top, .push-double--top     	{ margin-top:   $double-spacing-unit!important; }
%push-double--right, .push-double--right   	{ margin-right: $double-spacing-unit!important; }
%push-double--bottom, .push-double--bottom  { margin-bottom:$double-spacing-unit!important; }
%push-double--left, .push-double--left    	{ margin-left:  $double-spacing-unit!important; }
%push-double--ends, .push-double--ends    	{ margin-top:   $double-spacing-unit!important; margin-bottom:$double-spacing-unit!important; }
%push-double--sides, .push-double--sides   	{ margin-right: $double-spacing-unit!important; margin-left:  $double-spacing-unit!important; }

%flush, .flush          { margin:       0!important; }
%flush--top, .flush--top     { margin-top:   0!important; }
%flush--right, .flush--right   { margin-right: 0!important; }
%flush--bottom, .flush--bottom  { margin-bottom:0!important; }
%flush--left, .flush--left    { margin-left:  0!important; }
%flush--ends, .flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
%flush--sides, .flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
%soft, .soft           			{ padding:       $base-spacing-unit!important; }
%soft--top, .soft--top      	{ padding-top:   $base-spacing-unit!important; }
%soft--right, .soft--right    	{ padding-right: $base-spacing-unit!important; }
%soft--bottom, .soft--bottom   	{ padding-bottom:$base-spacing-unit!important; }
%soft--left, .soft--left     	{ padding-left:  $base-spacing-unit!important; }
%soft--ends, .soft--ends     	{ padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }
%soft--sides, .soft--sides    	{ padding-right: $base-spacing-unit!important; padding-left:  $base-spacing-unit!important; }

%soft-half, .soft-half           		{ padding:       $half-spacing-unit!important; }
%soft-half--top, .soft-half--top      	{ padding-top:   $half-spacing-unit!important; }
%soft-half--right, .soft-half--right    { padding-right: $half-spacing-unit!important; }
%soft-half--bottom, .soft-half--bottom  { padding-bottom:$half-spacing-unit!important; }
%soft-half--left, .soft-half--left     	{ padding-left:  $half-spacing-unit!important; }
%soft-half--ends, .soft-half--ends      { padding-top:   $half-spacing-unit!important; padding-bottom:$half-spacing-unit!important; }
%soft-half--sides, .soft-half--sides    { padding-right: $half-spacing-unit!important; padding-left:  $half-spacing-unit!important; }

%soft-double, .soft-double           		{ padding:       $double-spacing-unit!important; }
%soft-double--top, .soft-double--top      	{ padding-top:   $double-spacing-unit!important; }
%soft-double--right, .soft-double--right    { padding-right: $double-spacing-unit!important; }
%soft-double--bottom, .soft-double--bottom  { padding-bottom:$double-spacing-unit!important; }
%soft-double--left, .soft-double--left     	{ padding-left:  $double-spacing-unit!important; }
%soft-double--ends, .soft-double--ends     	{ padding-top:   $double-spacing-unit!important; padding-bottom:$double-spacing-unit!important; }
%soft-double--sides, .soft-double--sides    { padding-right: $double-spacing-unit!important; padding-left:  $double-spacing-unit!important; }

%hard, .hard           			{ padding:       0!important; }
%hard--top, .hard--top      	{ padding-top:   0!important; }
%hard--right, .hard--right    	{ padding-right: 0!important; }
%hard--bottom, .hard--bottom   	{ padding-bottom:0!important; }
%hard--left, .hard--left     	{ padding-left:  0!important; }
%hard--ends, .hard--ends     	{ padding-top:   0!important; padding-bottom:0!important; }
%hard--sides, .hard--sides    	{ padding-right: 0!important; padding-left:  0!important; }

