////
/// Buttons
/// @group lists
/// @author Nicemondays
/// @since version 0.1
////

@if $use-lists {
	
	/// List base style
	.list {
		padding: 0;
		margin: 0;
	}
	
	/// Unstyled list
	.list--unstyled {
		list-style:none;
	}
	
	/// Inline list
	.list--inline {
		list-style: none;
		> li{
			display: inline-block;
			margin-left: 0.3em;
			&:first-child {
				margin-left: 0;
			}
		}
	}

	/// Float list
	.list--float {
		list-style: none;
		@include clearfix;
		> li {
			float: left;
			margin-left: 0.3em;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	
}

