////
/// Main
/// @group main
/// @author Nicemondays
/// @since version 0.1
////
*{
    &,
    &:before,
    &:after{
        box-sizing: border-box;
    }
}

body {
	font-family: getface(brand);
	@include font-size($base-font-size);
	font-weight: $base-font-weight;
	background-color: getcolor(bgcolor);
	color: getcolor(text, base);
	&:before {
		display: none;
		content: 'default';
	}
}
